@inherits LayoutComponentBase

<main class="min-h-screen bg-gray-800 text-gray-100 content-center">
    <div class="px-4 py-8 mx-auto text-center">
        @Body
    </div>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>